.carousel {
    width: 75vw;
    display: block;
    margin:  auto;
    margin-top: 3rem;
}

.carouselImage {
    width: 100%;
    object-fit: cover;
}

.color {
    background-color: #F6F6E9;
    
}

.imagem {
    flex-direction: column
}

.homeMotivos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:3rem;
}

.homeMotivosBox{
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    width: 10rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.homeMotivosImagens{
    height: 10rem;
}

.homeMotivosTexto{
    font-family: 'Barlow', sans-serif !important;
    color: #272727;
}

.homeComprePorCategoria{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.homeComprePorCategoriaTexto{
    font-family: 'Barlow', sans-serif !important;
    color: #272727;
}

.homeSacola1{
    height: 7rem;
}

.homeSacola2{
    height: 7rem;
    transform: scaleX(-1);
}

.homeBotoesCategorias{
    display: flex;
    flex-wrap: wrap;
    width: 55vw;
    gap: 1rem;
    margin: 0 auto;
    justify-content: center;
}

.homeBotoesCategoriasLink{
    width: 350px;
}

.backgroundBotoes{
    background-color: #F6F6E9;
}

.comoComprar-img{
    margin-top: 50px;
    justify-content: center;
}

.comoDoar-img{
    margin-top: 50px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carouselImageEmpresas{
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
    border-width: 5px;
    border-style:outset;
    border-color: #457D58;
    
    
}

.carouselEmpresas {
    width: 60vw;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    justify-content: center;
}

