.carousel {
    width: 75vw;
    display: block;
    margin:  auto;
}

.carouselImage {
    width: 100%;
    
    object-fit: cover;
}

.color {
    background-color: #F6F6E9
    ;
}

.imagem {
    flex-direction: column
}
