
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');


.container {
    max-width: 35vw;
    border: 2px solid green;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 7px 16px 0px rgba(176, 169, 176, 0.88);
    -moz-box-shadow: 0px 7px 16px 0px rgba(176, 169, 176,
0.88);
    box-shadow: 0px 7px 16px 0px rgba(176, 169, 176, 0.88);
 

}

.imageContainer img {
    width: 10vw;
    aspect-ratio: 4/4;

}
.nomeProduto {
    font-family: 'Barlow', sans-serif !important;
    font-weight: bold;
    text-align: center !important;
    color: green;
}

.valores {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: 'Barlow', sans-serif !important;

}
.Produtoestoquepreco {
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif !important;
    font-weight: bold;
    margin-top: 10px;
}

.button {
    display: flex;
    background-color: #C9E265;
    width: 55px;
    height: 32px;
    border: 2px solid;
    border-radius: 15px;
    border-color: #C9E265;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    align-items: center;

}