
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.marcadorLista {
    list-style-type: none;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.btMesmaLinha{
    display: inline;
}

.btnEstilo{
    color: #272727;
    background-color: #C9E265;
    border: none;
    height: 40px;
    line-height: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 10px;
    font-family: 'Barlow', sans-serif !important;
}



.container {
    width:10vw;
    border: 2px solid green;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    margin: 16px 0px 0px;
    padding: 10px;
    -webkit-box-shadow: 0px 7px 16px 0px rgba(176, 169, 176, 0.88);
    -moz-box-shadow: 0px 7px 16px 0px rgba(176, 169, 176,0.88);
    box-shadow: 0px 7px 16px 0px rgba(176, 169, 176, 0.88);
    
}

.imageContainer img {
    width: 10vw;
    aspect-ratio: 1;

}
.nomeProduto {
    font-family: 'Barlow', sans-serif !important;
    font-weight: bold;
    text-align: center !important;
    color: green;
}

.valores {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: 'Barlow', sans-serif !important;

}
.Produtoestoquepreco {
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif !important;
    font-weight: bold;
    margin-top: 10px;
}

.button {
    display: flex;
    background-color: #C9E265;
    width: 55px;
    height: 32px;
    border: 2px solid;
    border-radius: 15px;
    border-color: #C9E265;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    align-items: center;

}