.loginFundo {
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;

  background-image: url("https://i.imgur.com/oG4KFnU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.loginCard {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 50vh;
  justify-content: space-evenly;
  align-items:center;
  padding: 1rem;
  background-color: #c9e265;
  opacity: 0.9;
  border-radius: 10px;

}


.loginbox1{
  display: flex;
  flex-direction: row;
  width: 20vw;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}

.loginIcone{
  display:flex;
  flex-direction: row;
  width: 40px!important;
  height: 40px!important;
  color: #457d58;
}

.loginTitulo{
  font-family: 'Barlow', sans-serif !important;
}

.loginTexto{
  font-family: 'Barlow', sans-serif !important;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.loginBotaoEntrar {
  justify-content: center;
  align-items: center;
  background-color: #457d58!important;
  border-radius: 5px;
  font-family: 'Barlow', sans-serif !important;
  color: #F6F6E9!important;
}

/* muda cor que aparece em "aqui!" */
.loginLinkCadastro {
  color: #457d58;
}

/* muda cor do texto do formulario */
.MuiFormLabel-colorPrimary {
  color: #272727 !important;
}

/* muda cor do texto de input */
.MuiOutlinedInput-root {
  color: #272727 !important;
}

/* .MuiInput-root::before{
    color: red!important;
}

.MuiInput-root::after{
    color: red!important;
} */

.text-decorator-none {
  text-decoration: none;
}

.videoLogin {
 
  border: 0;
  
}