@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.titleAbout{
    font-family: 'Barlow', sans-serif !important;
    font-size: 30px !important;
}

.textoAboutBox {
    width: 70vw;
    display: block;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.textAbout{
    font-family: 'Barlow', sans-serif !important;
    font-size: 20px !important;
    text-align: justify;
    padding: 0.5rem;
}

.cursorAbout{
    cursor: pointer;
}

.aboutgrid{
    background-color: #F6F6E9 !important;
}

.videoAbout{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}